{% extends 'base.html' %} {% block body %} {% comment %} {% block blogactive
%}active{% endblock blogactive %} {% endcomment %} {% block css %}
<style>
  .container {
    min-height: 90vh;
  }

  .form-group {
    padding: 5px;
  }
</style>
{% endblock css %}

<div class="container">
  <h1 class="my-3 row">{{blog.title}}</h1>
  <p class="blog-post-meta">Created on <b>{{blog.time}}</b></p>

  <div class="row my-3">{{blog.content|safe}}</div>
</div>

<div class="container">
  <h2>Comments</h2>
  <form action="/blogpost/postComment/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Post Comment </label>
      <input
        type="text"
        class="form-control"
        name="comment"
        placeholder="Enter comment here"
      />
    </div>
    <input type="hidden" name="postSno" value="{{blog.sno}}" />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% for comment in comments %}
  <div class="row my-3">
    <div class="col-md-1">
      <img
        class="rounded mx-auto d-block w-100 p-2"
        src="/static/img/user.png"
        alt="user"
      />
    </div>
    <div class="col-md-11">
      <b> {{comment.user.username}} </b> at {{comment.timestamp}}
      <div>{{comment.comment}}</div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock body %}
